@charset "uft-8";
*{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif; 
  height: 100vh;
  
}
img{
  display: block;
}
a{
  text-decoration: none;
  color: rgb(44, 42, 42);
  display: block;
}
input{
  text-decoration: none;
  display: block;
}
.btn{
  display: block;
  position: relative;
  float: left;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 10px 10px 10px 0;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 20px;
  transition: all 0.2s ;
  font-size: 30px;
  background: #444444;
  box-sizing: border-box;
}
.btn:hover{
  background:#fff;
  color: #444444;
  border: #444444 solid 2px;
  border-radius: 20px;
}
/* -----------------index .html--------------------*/
#wrap{
  display: flex;
  overflow: hidden;
}

#left{
 width: 50%;
 position: relative;
}
#left .logo{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#left .logo .logo_img{
  width: 400px;
  height: 150px;
}

#left .login{
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#left .login .id{
  width: 290px;
  height: 40px;
  font-size: 24px;
  margin-bottom: 10px;
} 
#left .login .pw{
  width: 290px;
  height: 40px;
  font-size: 24px;
  margin-bottom: 10px;
}
#left .login .subit_impo{
  width: 300px;
  height: 40px;
  font-size: 24px;
  color: #fff;
  background: #333;
  text-align: center;

}
#right{
  width: 50%;
}
#right img{
  width: 100%;
  height: 100%;
}

/*--------------------------survice_wait_list-----------------------------------*/

header .line{
  width: 100%;
  background-color: #444444;
  height: 10px;
}
#h_content{
  display: flex;
  position: relative;
  height: 100px;
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
}
#h_content .h_title{
  font-size: 50px;
  font-weight: bold;
  padding: 0 3%;
  line-height: 100px;
}
#h_content .h_logo{
 position: absolute;
 left: 90%;
 top: 50%;
 transform: translate(-50%,-50%);
}
#content .tabBG{
  width: 100%;
  height: 80vh;
  overflow: auto;
}
.tabBG table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse; 
  position: relative;
}
.tabBG td {
  border: 1px solid #444444;
  text-align: center; 
  height: 50px;
  line-height: 50px; 
}
.tabBG table th{
  background-color: #444444;
  color: #fff;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  height: 70px;
  font-weight: bold;
  z-index: 1;
}
.tabBG table thead{
  width: 100%;
  height: 70px;
  position: sticky;
  top: -1px;
}

.tabBG table td{
  vertical-align :middle;
  font-size: 30px;
  z-index: 0;
}
.tabBG table td>a{
  margin: 1%;
  display: block;
  position: static;
}
#content .nomal::-webkit-scrollbar{
  width: 10px;
}
#content .nomal::-webkit-scrollbar-thumb{
  background-color: #959ca1;
  border-radius: 10px;    
}


#content .nomal::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}
.tabMenu>li>a{
  padding:0 10px;
	min-width: 200px;
	line-height:50px;
	font-size:40px;
	text-align:center;
	background:#5D7D2B;
	border:1px solid #444444;
  border-radius: 20px 20px 0 0;
  color:#FFF;
  transition: 0.3s;
  font-weight: bold;
}
.tabMenu{ 
  display:flex;
}
.tabMenu>li>a:hover{ 
  background:#ee4741;
}
.tabBG{
	position:absolute;
	overflow:hidden;
  background:#f8f8f8;
  left: 0%;
}
.reserve{
  z-index: 0;
}
.tabMenu>li.active div{
	z-index:99999;
}
.tabMenu .n_btn{
  margin: 0 10px;

}
.tabMenu>li.active .n_btn{
  background: #444444;
}
.tabMenu>li.active .r_btn{
  background: #444444;
}

/*--------------------------detail_info-----------------------------------*/

#car_impo{
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55% 45%;
  width: 86%;
  margin: 0 5%;
  height: 20vh;
  padding: 0 2%;
  overflow: visible;
}
.title{
  position: relative;
}
.title>h1{
  position: absolute;
  top:0;
  left: 20px;
  z-index: 99999;
  background: #fff;
  font-size: 2rem;
  font-weight: bold;
  color: #6A7177;  
}
.car_num, .car_mile, .car_usernumber, .car_type, .car_username, .fix_history{
  height: 100%;
  padding-left: 100px;
}
.car_num, .car_mile, .car_usernumber{
  margin-top: 2%;
  height: 68%
}
.car_type, .car_username, .fix_history{
  height: 100%;
}
#car_impo .i_title{
  height: fit-content;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444444;
}
#car_impo .i_box{
  height: 69%;
  margin-top: 1%;
}
#car_impo .i_box>input{
  box-shadow: 3px 3px 5px #D9D9D9;
  border-radius: 20px;
  height: 30px;
  border: 1.5px solid #D9D9D9;
  width: 50%;
}
#car_impo .fix_history{
  margin-top: 1%;
}
#car_impo .fix_history>a{
  border: 1.5px solid #D9D9D9;
  width: 50%;
  background: #5D7D2B;
  border-radius: 20px;
  height: 30px;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  box-shadow: 3px 3px 5px #D9D9D9;

}

#middle{
  display: flex;
  margin-top: 1%;
}
#fix_content{
  width:55%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  height: 60vh;
  border: 3px solid #D9D9D9;
  border-radius: 10px;
}
#fix_list{
  width: 80%;
  height: 80%;
  grid-column: 1/2;
  grid-row: 1/3;
  overflow: auto;
  border: 2px solid #D9D9D9;
  padding: 2%;
  margin:13% 8% 7% 8%;
  border-radius: 10px;
}
.choice_fix{
  width: 100%;
  height: 100%;
  position: relative;
}
.choice_fix>input{
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  width: 90%;
  height: 70%;
  margin-top: 13%;
  display: block;
}
.choice_fix>h1{
  position: absolute;
  top: 12%;
  left: 5%;
  background: #FFF;
  font-size: 30px;
  font-weight: bold;
  
}
.custom_fix{
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
  margin-bottom: 7%;
  text-align: center;
}
.custom_fix>h1{
  position: absolute;
  top: 0;
  left: 5%;
  background: #FFF;
  font-size: 25px;
  font-weight: bold;
}
.custom_fix>input{
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  width: 90%;
  height: 80%;
  margin-top: 2%;
  display: block;
}
#fix_list input[id*="answer"]{
  display: none;
}
#fix_list input[id*="answer"] + label{
  display: block;
  border-bottom: 0;
  color: #3b3c3f;
  font-weight: 900;
  position: relative;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
#fix_list input[id*="answer"] + label + div{
  max-height: 0;
  transition: .35s ;
  overflow: hidden;
  font-size: 20px;

}
#fix_list input[id*="answer"] + label em{
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  margin-top: -15px;
  display: inline-block;
  background:url(../img/under_arrow.png) 0 0 no-repeat;
  background-size: contain;
  transition: 0.3s;
}
#fix_list input[id*="answer"] + label + div p,ul{
  display: block;
  padding: 20px;
  font-weight: 600; 
  font-size: 24px; 
}
#fix_list ul{
  background: linear-gradient( to bottom, #9da7afa2, #ffffff04 );
}
#fix_list p{
  color: red;
  font-weight: 900;
}
#fix_list input[id*="answer"]:checked + label + div{
  max-height:350px; 

}
#fix_list input[id*="answer"]:checked + label em{
  transform: rotate(180deg);
}
#fix_list::-webkit-scrollbar{
  width: 10px;
}
#fix_list::-webkit-scrollbar-thumb{
  background-color: rgb(218, 212, 212);
  border-radius: 10px;    
}


#fix_list::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}
#final_check{
  border: 3px solid #D9D9D9;
  border-radius: 10px;
  width: 20%;
  margin: 0 5%;
}